In [1]:
import pandas as pd 
import numpy as np 
import matplotlib as plt
import seaborn as sns
from scipy import stats
import warnings

# Exibir versão das principais bibliotecas (opcional, mas profissional)
print(f"Pandas: {pd.__version__}")
print(f"Numpy: {np.__version__}")
print(f"Seaborn: {sns.__version__}")

Pandas: 2.3.3
Numpy: 2.3.4
Seaborn: 0.13.2

* Etapa 1
**pandas** (pd) → Manipulação e análise de dados em tabelas (DataFrames).
**numpy** (np) → Operações matemáticas e trabalho com arrays multidimensionais
**matplotlib.pyplot** (plt) → Criação de gráficos e visualizações personalizadas.
**seaborn** (sns) → Visualizações estatísticas com gráficos elegantes e integrados ao pandas.
**scipy.stats** → Funções estatísticas e testes de hipóteses.
**warnings** → Controle e filtragem de avisos gerados durante a execução do código.

In [4]:
df = pd.read_csv('../data/datasets/students_performance.csv')
df.head()
df.tail()
print("Dimensões do dataset:")
print(f"Linhas: {df.shape[0]}")
print(f"Colunas: {df.shape[1]}")
df.info()
df.describe()

Dimensões do dataset:
Linhas: 2510
Colunas: 14
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2510 entries, 0 to 2509
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   student_id          2510 non-null   object
 1   age                 2510 non-null   int64
 2   gender              2510 non-null   object
 3   parental_education  2510 non-null   object
 4   study_hours_week    2217 non-null   float64
 5   attendance_rate     2278 non-null   float64
 6   extracurricular     2510 non-null   object
 7   sleep_hours         2244 non-null   float64
 8   previous_scores     2383 non-null   float64
 9   tutoring            2510 non-null   object
 10  internet_quality    2355 non-null   object
 11  family_income       2232 non-null   object
 12  health_status       2510 non-null   object
 13  final_grade         2510 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 274.7+ KB

,age,study_hours_week,attendance_rate,sleep_hours,previous_scores,final_grade
count,2510.000000,2217.000000,2278.000000,2244.000000,2383.000000,2510.000000
mean,21.623904,10.603554,59.679789,6.996569,57.261028,92.090076
std,2.766664,8.635456,10.611523,1.336190,9.477943,7.446434
min,17.000000,-3.620000,20.820000,2.070000,21.200000,63.240000
25%,20.000000,6.510000,52.840000,6.130000,51.105000,86.982500
50%,22.000000,9.960000,59.905000,6.990000,57.300000,93.310000
75%,24.000000,13.400000,66.652500,7.830000,63.620000,99.850000
max,99.000000,113.200000,108.950000,15.950000,86.100000,101.070000

Ele possui:
* Linhas: 2510
* Colunas: 14